@page "/pesquisadorrelatorio"

@using MvpPesquisador.Modelo
@using MvpPesquisador.Controllers
@inject PessoaController pesquisadorController

<div class="form-group d-flex justify-content-center align-items-center" style="margin: 20px;">
    <h3>Relatorio Pesquisador</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Codigo Instiuição</th>
            <th>Formação</th>
            <th>Lattes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pesquisador in pesquisadorController.BuscarTudoPesquisador())
        {
            <tr>
                <td>@pesquisador?.Id</td>
                <td>@pesquisador?.Nome</td>
                <td>@pesquisador?.CodigoInstituicao</td>
                <td>@pesquisador?.Formacao</td>
                <td>@pesquisador?.Lattes</td>
            </tr>
        }
    </tbody>

    <button type="submit" class="btn btn-primary" style="margin: 20px;" @onclick="pesquisadorController.RecarregarPaginaPesquisador">Recarregar</button>
</table>
